

.icon-background{
  border: red;
}

.bg {
  background-image: url("../Images/Mask\ Group\ 8@2x.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  
@media(min-width:320px){
  .linked{
    display: none;
  }
}

@media(min-width:425px){
  .linked{
    display: none;
  }
}


@media(min-width:576px){
  .linked{
    display: none;
  }
}


@media(min-width:926px){
  .linked{
    display: block;
  }
}
