body{
    margin: 0%;  
  }
.address{
  padding-left: 20px;
}
.contact{
  padding-left: 20px;
}
.contact-img{
  padding-right: 20px;
}

@media(min-width:320px){
  .address{
    font-size: 13px;
  }
}
@media(min-width:1440px){
  .address{
    font-size: 24px;
  }
}
