@media(min-width:768px){
    .line{
        border-left: 2px solid gray;
        height: 200px;
        margin-left: 20px;
      }
}

@media(min-width:900px){
    .line{
        border-left: 2px solid gray;
        height: 170px;
        margin-left: 25px;
      }
}

@media(min-width:950px){
    .line{
        border-left: 2px solid gray;
        height: 160px;
        margin-left: 30px;
      }
}

@media(min-width:1100px){
    .line{
        border-left: 2px solid gray;
        height: 150px;
        margin-left: 35px;
      }
}

@media(min-width:1250px){
    .line{
        border-left: 2px solid gray;
        height: 140px;
        margin-left: 40px;
      }
}

@media(min-width:1350px){
    .line{
        border-left: 2px solid gray;
        margin-left: 45px;
      }
}

@media(min-width:1450px){
    .line{
        border-left: 2px solid gray;
        height: 150px;
        margin-left: 50px;
      }
}

@media(min-width:1600px){
    .line{
        border-left: 2px solid gray;
        height: 160px;
        margin-left: 55px;
      }
}