body{
  margin: 0px;
}

@media(min-width:320px){
  .images{
    text-align: center;
  }
  .datas{
    text-align: center;
  }
}



@media(min-width:768px){
  .line{
    border-left: 2px solid gray;
    height: 240px;
    margin-left: 10px;
  }
  .datas{
    margin-left: 20px;
  }
}

@media(min-width:1024px){
  .line{
    margin-left: 30px;
  }
}

@media(min-width:1440px){
  .line{
    margin-left: 50px;
  }
  .datas{
    margin-left: 10px;
    font-size: 20px;
  }
}
