body{
  margin: 0px;
}

@media(min-width:320px){
  .img{
    width: 100%;
  }
}

@media(min-width:768px){
  .img{
    width:380px;
    height:410px;
  }
  .data{
    font-size: 11px;
  }
}

@media(min-width:830px){
  .img{
    width:400px;
    height:400px;
  }
  .data{
    font-size: 11px;
  }
}

@media(min-width:879px){
  .img{
    width:435px;
    height:435px;
  }
  .data{
    font-size: 12px;
  }
}

@media(min-width:897px){
  .img{
    width:435px;
    height:450px;
  }
  .data{
    font-size: 12px;
  }
}

@media(min-width:1024px){
  .img{
    width:500px;
    height:560px;
  }
  .data{
    font-size: 14px;
  }
}

@media(min-width:1145px){
  .img{
    width:560px;
    height:600px;
  }
  .data{
    font-size: 16px;
  }
}

@media(min-width:1440px){
  .img{
    width:700px;
    height:760px;
  }
  .data{
    font-size: 20px;
  }
}

 