body{
  margin: 0px;
}


@media(min-width:320px){
  .pic{
    padding-top: 30px;
    width: 100%;
  }
  .detail{
    font-size: 13px;
    color: white;
  }
  .span{
    font-size: 25px;
  }
}

@media(min-width:550px){
  .span{
    font-size: 25px;
  }
}

@media(min-width:700px){
  .pic{
    padding-top: 30px;
    width: 500px;
    height: 300px;
    padding-left: 150px;
  }
  .detail{
    font-size: 13px;
    color: white;
  }
  .span{
    font-size: 25px;
  }
}

@media(min-width:768px){
  .pic{
    margin:0px;
    width:320px;
    padding-left: 50px;
  }
  .detail{
    font-size: 13px;
    color: white;
  }
  .span{
    font-size: 25px;
  }
}

@media(min-width:830px){ 
  .pic{
    padding-top: 30px;
    width: 100%;
  }
  .detail{
    font-size: 13px;
    color: white;
  }
}

@media(min-width:879px){
  .pic{
    padding-top: 30px;
    width: 100%;
  }
  .detail{
    font-size: 13px;
    color: white;
  }
}

@media(min-width:897px){
  .pic{
    padding-top: 30px;
    width: 100%;
  }
  .detail{
    font-size: 13px;
    color: white;
  }
}

@media(min-width:1024px){
  .pic{
    margin:0px;
    width:400px;
    padding-left: 110px;
  }
  .detail{
    font-size: 13px;
    color: white;
  }
}

@media(min-width:1145px){
  .pic{
    margin:0px;
    width:460px;
    padding-left: 110px;
  }
  .detail{
    font-size: 13px;
    color: white;
  }
}

@media(min-width:1440px){
  .pic{
    padding-top: 30px;
    width: 530px;
    height: 430px;
  }
  .detail{
    font-size: 18px;
    color: white;
  }
}

 