body{
    margin: 0px;
  }

  @media(min-width:320px){
    .detail-head1{
        font-size: 30px;
      }
    .detail-head2{
      font-size: 30px;
    }
    .social-detail{
      font-size: 13px;
    }
  }

  @media(min-width:768px){
      .detail-spe{
        margin-left: 30px;
        margin-right: 20px;
      }
      .detail-green{
        margin-left: 20px;
      }
      .vertical-line{
        border-left: 2px solid white;
        height: 300px;
        margin-left: 10px;
        padding-left: 15px;
      }
    }

    @media(min-width:850px){
          .vertical-line{
            border-left: 2px solid white;
            height: 260px;
            margin-left: 10px;
            padding-left: 15px;
          }
        }

    @media(min-width:950px){
          .vertical-line{
            border-left: 2px solid white;
            height: 240px;
            margin-left: 10px;
            padding-left: 15px;
          }
        }

    @media(min-width:1024px){
          .detail-spe{
            margin-left: 30px;
            margin-right: 40px;
          }
          .vertical-line{
            border-left: 2px solid white;
            height: 230px;
            margin-left: 10px;
            padding-left: 15px;
          }
        }

    @media(min-width:1200px){
        .detail-spe{
          margin-left: 30px;
          margin-right: 50px;
        }
      }

   

  @media(min-width:1440px){
      .social-detail{
        font-size: 24px;
      }
      .detail-spe{
        margin-left: 30px;
        margin-right: 65px;
      }
      .detail-head1{
          font-size: 50px;
        }
      .detail-head2{
        font-size: 50px;
      }
      .vertical-line{
        border-left: 2px solid white;
        height: 510px;
        margin-left: 10px;
        padding-left: 15px;
      }
  }

  @media(min-width:1500px){
  
    .vertical-line{
      border-left: 2px solid white;
      height: 470px;
      margin-left: 10px;
      padding-left: 15px;
    }
}