

@media(min-width:320px){
  
}
 



@media(min-width:576px){
  
}

@media(min-width:768px){
  

}

@media(min-width:992px){
 
}

html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
}

.bm-item:hover {
  color: black;
}



.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 1406px;
  top: 66px;
  
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}


.bm-cross {
  background: black;
}


.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.cd-accordion__input { 
  position: absolute;
  opacity: 0;
}

.cd-accordion__label {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--space-sm) var(--space-md);
 
}

.cd-accordion__sub {
  display: none; 
}

.cd-accordion__input:checked ~ .cd-accordion__sub {
  display: initial;
}

.hr{
  background: black;
}
