
html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.bg {
  background-image: url("../Images/Mask\ Group\ 8@2x.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

 

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  position: relative;
  padding: 0%;
}
.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color:#000000;
}

.bm-item:hover {
  color: 	#000000;
  font-weight: bolder;
  
} 


.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}


.bm-cross {
  background: black;
}


.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.cd-accordion__input { 
  position: absolute;
  opacity: 0;
}

.cd-accordion__label {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--space-sm) var(--space-md);
 
}

.cd-accordion__sub {
  display: none; 
}

.cd-accordion__input:checked ~ .cd-accordion__sub {
  display: initial;
}


.links{
  cursor: pointer;
}

.list{
  color:gray;
}

.list:hover{
  color:#000000;
  font-weight: bolder;
}
.spots{
  color: white;
}

.spots:hover{
  color: black;
}

  
@media(min-width:320px){
  .linked{
    display:none;
  }
  
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 265px;
    top: 26px;
  }
  .carousel{
    padding-top: 20px;
  }
  .top-title{
    padding-top: 60px;
  }
}

@media(min-width:360px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 305px;
    top: 26px;
  }
}

@media(min-width:375px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 320px;
    top: 26px;
  }
}

@media(min-width:400px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 345px;
    top: 26px;
  }
}

@media(min-width:425px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 370px;
    top: 26px;
  }
}

@media(min-width:450px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 395px;
    top: 26px;
  }
}

@media(min-width:500px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 445px;
    top: 26px;
  }
}

@media(min-width:550px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 485px;
    top: 26px;
  }
}

@media(min-width:576px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 520px;
    top: 26px;
  }
}

@media(min-width:700px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 645px;
    top: 26px;
  }
}

@media(min-width:750px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 685px;
    top: 26px;
  }
}


@media(min-width:768px){
  .linked{
    display:block;
    cursor: pointer;
  }  
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 730px;
    top: 130px;
  }
  .top-title{
    padding-top:0px;
  }
}

@media(min-width:775px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 725px;
    top: 130px;
  }
}

@media(min-width:830px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 790px;
    top: 130px;
  }
}

@media(min-width:900px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 845px;
    top: 82px;
  }
}

@media(min-width:927px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 870px;
    top: 82px;
  }
}

@media(min-width:957px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 895px;
    top: 82px;
  }
}

@media(min-width:1000px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 925px;
    top: 82px;
  }
}

@media(min-width:1024px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 960px;
    top: 82px;
  }
}

@media(min-width:1200px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 1110px;
    top: 82px;
  }
}

@media(min-width:1300px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 1180px;
    top: 82px;
  }
}

@media(min-width:1440px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 1350px;
    top: 82px;
  }
}

@media(min-width:1500px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 1420px;
    top: 82px;
  }
}

@media(min-width:1600px){
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 1480px;
    top: 82px;
  }
}
