.content{
  padding-left: 30px;
}
.header
{
  padding-left: 70px;
  background-color: black;
  color: white;
}
.images{
  padding-top: 20px;
  align-items: center;
  align-content: center;
}
.icon-background{
  border: red;
}