.content{
  padding-left: 30px;
}
.header
{
  padding-left: 70px;
  background-color: black;
  color: white;
}
.images{
  padding-top: 20px;
  align-items: center;
  align-content: center;
}
.icon-background{
  border: red;
}
.line{
 
    border-left: 2px solid gray;
    height: 150px;
}
.bg {
  background-image: url("./Images/Mask Group 8.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }